# Pandas 高级

## 1.数据筛选

### 1.1 赋值操作

In [90]:
import numpy as np
import pandas as pd

df = pd.DataFrame(np.random.randint(0, 50, size=(20, 3)), columns=['Python', 'Java', 'PHP'])
df

    Python  Java  PHP
0        0     6    0
1        7     2   43
2       14    18   34
3       46    22   16
4       39    23    4
5       46    41    0
6       27    47   35
7       11    16   26
8       39     4    6
9       35     2   15
10      11     5   14
11      28    36   39
12      29     7   18
13      29    40   19
14      14     6   16
15       6    35   47
16      12     3   28
17      38    37    4
18      23    29   49
19       1     1   11

In [91]:
# 增加列
df['物理'] = np.random.randint(0, 50, size=20)
df

    Python  Java  PHP  物理
0        0     6    0  33
1        7     2   43   6
2       14    18   34  42
3       46    22   16  26
4       39    23    4  49
5       46    41    0  16
6       27    47   35   4
7       11    16   26   6
8       39     4    6  37
9       35     2   15  36
10      11     5   14   8
11      28    36   39  41
12      29     7   18  24
13      29    40   19  32
14      14     6   16  26
15       6    35   47  20
16      12     3   28   3
17      38    37    4  20
18      23    29   49  48
19       1     1   11  18

In [92]:
# 所有都增加10分
df.Python += 10
df

    Python  Java  PHP  物理
0       10     6    0  33
1       17     2   43   6
2       24    18   34  42
3       56    22   16  26
4       49    23    4  49
5       56    41    0  16
6       37    47   35   4
7       21    16   26   6
8       49     4    6  37
9       45     2   15  36
10      21     5   14   8
11      38    36   39  41
12      39     7   18  24
13      39    40   19  32
14      24     6   16  26
15      16    35   47  20
16      22     3   28   3
17      48    37    4  20
18      33    29   49  48
19      11     1   11  18

In [93]:
# 给指定的索引赋值
df.Java[[2, 3]] = 100
df

    Python  Java  PHP  物理
0       10     6    0  33
1       17     2   43   6
2       24   100   34  42
3       56   100   16  26
4       49    23    4  49
5       56    41    0  16
6       37    47   35   4
7       21    16   26   6
8       49     4    6  37
9       45     2   15  36
10      21     5   14   8
11      38    36   39  41
12      39     7   18  24
13      39    40   19  32
14      24     6   16  26
15      16    35   47  20
16      22     3   28   3
17      48    37    4  20
18      33    29   49  48
19      11     1   11  18

In [94]:
# 跨维度修改数据
df.loc[[2, 3], ['Python', 'Java']] = 100
df

    Python  Java  PHP  物理
0       10     6    0  33
1       17     2   43   6
2      100   100   34  42
3      100   100   16  26
4       49    23    4  49
5       56    41    0  16
6       37    47   35   4
7       21    16   26   6
8       49     4    6  37
9       45     2   15  36
10      21     5   14   8
11      38    36   39  41
12      39     7   18  24
13      39    40   19  32
14      24     6   16  26
15      16    35   47  20
16      22     3   28   3
17      48    37    4  20
18      33    29   49  48
19      11     1   11  18

In [95]:
cond = df['物理'] > 20
df[cond] - 100

    Python  Java  PHP  物理
0      -90   -94 -100 -67
2        0     0  -66 -58
3        0     0  -84 -74
4      -51   -77  -96 -51
8      -51   -96  -94 -63
9      -55   -98  -85 -64
11     -62   -64  -61 -59
12     -61   -93  -82 -76
13     -61   -60  -81 -68
14     -76   -94  -84 -74
18     -67   -71  -51 -52

In [96]:
df.loc[cond] -= 100
df

    Python  Java  PHP  物理
0      -90   -94 -100 -67
1       17     2   43   6
2        0     0  -66 -58
3        0     0  -84 -74
4      -51   -77  -96 -51
5       56    41    0  16
6       37    47   35   4
7       21    16   26   6
8      -51   -96  -94 -63
9      -55   -98  -85 -64
10      21     5   14   8
11     -62   -64  -61 -59
12     -61   -93  -82 -76
13     -61   -60  -81 -68
14     -76   -94  -84 -74
15      16    35   47  20
16      22     3   28   3
17      48    37    4  20
18     -67   -71  -51 -52
19      11     1   11  18

## 2 数据集成

### 2.1 concat

In [97]:
df1 = pd.DataFrame(np.random.randint(0, 150, size=(10, 3)),
                   index=list('ABCDEFGHIJ'),
                   columns=['Python', 'Java', 'PHP'])
df2 = pd.DataFrame(np.random.randint(0, 150, size=(10, 3)),
                   index=list('KLMNOPQRST'),
                   columns=['Python', 'Java', 'PHP'])
df3 = pd.DataFrame(np.random.randint(0, 150, size=(10, 2)),
                   index=list('ABCDEFGHIJ'),
                   columns=['C', 'Kotlin', ])
display(df1, df2, df3)

   Python  Java  PHP
A      67   128   94
B      33   135   32
C      58   107  140
D     148   106  129
E      35   105   73
F     121     7   11
G      68   143   84
H      29   105   53
I     144    49   59
J     127    79   16

   Python  Java  PHP
K     105    30   90
L     112     2   45
M      30    37   11
N      46    60   62
O     129     4   34
P     147   118  117
Q      28    51  100
R      44    44   57
S       7    65   83
T      64   104    3

     C  Kotlin
A  111     133
B  117     100
C  118     102
D   89      64
E  148       2
F  126      69
G   84     145
H   36     122
I   47      11
J   98     102

In [98]:
# 行合并
pd.concat([df1, df2])

   Python  Java  PHP
A      67   128   94
B      33   135   32
C      58   107  140
D     148   106  129
E      35   105   73
F     121     7   11
G      68   143   84
H      29   105   53
I     144    49   59
J     127    79   16
K     105    30   90
L     112     2   45
M      30    37   11
N      46    60   62
O     129     4   34
P     147   118  117
Q      28    51  100
R      44    44   57
S       7    65   83
T      64   104    3

In [99]:
# 列合并
pd.concat([df1, df3], axis=1)

   Python  Java  PHP    C  Kotlin
A      67   128   94  111     133
B      33   135   32  117     100
C      58   107  140  118     102
D     148   106  129   89      64
E      35   105   73  148       2
F     121     7   11  126      69
G      68   143   84   84     145
H      29   105   53   36     122
I     144    49   59   47      11
J     127    79   16   98     102

### 2.2 插入

In [100]:
df = pd.DataFrame(np.random.randint(0, 150, size=(10, 3)),
                  index=list('ABCDEFGHIJ'),
                  columns=['Python', 'Java', 'PHP'])
df

   Python  Java  PHP
A      35   131  139
B      24     1   21
C     148    49  138
D     117    59   68
E      61   145   77
F      98    67   28
G     101   129  103
H      82    61   72
I     129   125   33
J      61   122   80

In [101]:
# 在索引为0的位置插入一列
df.insert(0, 'Kotlin', 100)
df

   Kotlin  Python  Java  PHP
A     100      35   131  139
B     100      24     1   21
C     100     148    49  138
D     100     117    59   68
E     100      61   145   77
F     100      98    67   28
G     100     101   129  103
H     100      82    61   72
I     100     129   125   33
J     100      61   122   80

In [103]:
list(df.columns)

['Kotlin', 'Python', 'Java', 'PHP']